# Ignore everything by default
/*

# Except these files/folders
!/README.md
!/LICENSE
!/.gitignore
!/public/
!/github-pages


# Inside /public, ignore everything except the Privacy Policy
/public/*
!/public/Pure-QR_PrivacyPolicy.md
