# Ignore everything by default
/*

# Except these files/folders
!/README.md
!/LICENSE
!/.gitignore
!/public/
!/img/
!/index.html
!/privacy.html
!/web_assets/

# Inside /public, ignore everything except the Privacy Policy
/public/*
!/public/Pure-QR_PrivacyPolicy.md
